name: Lint source

on: [push]

jobs:
  lint:
    runs-on: "ubuntu-latest"

    steps:
      - uses: actions/checkout@v1
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v3
        with:
          version: "latest"
      - name: Lint source
        run: |
          uv run ruff check
          uv run ruff format --check
          # uv run pyright .
